@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--border-scrollbar));
  border-radius: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border-scrollbar)) transparent;
}

.with-scroll-bars-hidden {
  overflow: hidden !important;
  padding-right: 11px !important;
}

body[data-scroll-locked="1"] header {
  overflow: hidden !important;
  padding-right: 0 !important;
}
@media (width >= 550px) {
  body[data-scroll-locked="1"] header {
    overflow: hidden !important;
    padding-right: 11px !important;
  }
}
body[data-scroll-locked] {
  overflow: hidden !important;
  overscroll-behavior: contain;
  position: relative !important;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-left: 0;
  margin-top: 0;
  margin-right: 11px !important;
}

.right-scroll-bar-position {
  right: 11px !important;
}

.width-before-scroll-bar {
  margin-right: 11px !important;
}

.right-scroll-bar-position .right-scroll-bar-position {
  right: 0 !important;
}

.width-before-scroll-bar .width-before-scroll-bar {
  margin-right: 0 !important;
}
body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 11px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-secondary: #f6f7fa;
    --foreground: 0 0% 3.9%;
    --text-dark: black;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 234 18% 68%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --bg-tech: #202328;
    --bg-tech-light: #e5efff;
    --border-scrollbar: 240 5.9% 90%;

    --bg-selection: black;
    --color-selection: white;
  }
  .dark {
    --background: 216 28% 7%;
    --background-secondary: #161b22;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --border-scrollbar: 240 3.7% 15.9%;

    --bg-tech-light: #202328;

    --bg-selection: white;
    --color-selection: black;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    overscroll-behavior: none;
  }
}

::selection {
  color: var(--color-selection);
  background-color: var(--bg-selection);
}

.bg_blur {
  @apply bg-background/60 backdrop-blur-[28px];
}
.bg_gradient_colorfull {
  background: linear-gradient(
    -145.539deg,
    #04005e 0%,
    #ed2937 63%,
    #ff9954 100%
  );
}
h2 {
  @apply mb-8 text-xl font-bold lg:text-3xl;
}

section[data-slice-type="hero_section"] p {
  @apply justify-center;
}
section[data-slice-type="hero_section"] p {
  @apply flex flex-wrap items-center text-base gap-y-2;
}
@media (width >= 500px) {
  section[data-slice-type="hero_section"] p {
    @apply text-lg flex-nowrap gap-y-0;
  }
}
@media (width >= 640px) {
  section[data-slice-type="hero_section"] p {
    @apply justify-start;
  }
}
@media (width >= 768px) {
  section[data-slice-type="hero_section"] p {
    @apply text-2xl;
  }
}
@media (width >= 1168px) {
  section[data-slice-type="hero_section"] p {
    @apply text-3xl;
  }
}

section[data-slice-type="hero_section"] .status_pro p {
  @apply text-xs;
}
section[data-slice-type="hero_section"] .hero_tech ul {
  @apply gap-0 translate-x-6 flex-nowrap;
}
section[data-slice-type="hero_section"] .hero_tech ul li:nth-child(1) {
  transform: translate(-22px, 0) rotate(-30deg);
}
section[data-slice-type="hero_section"] .hero_tech ul li:nth-child(2) {
  transform: translate(-29px, -16px) rotate(0deg);
}
section[data-slice-type="hero_section"] .hero_tech ul li:nth-child(3) {
  transform: translate(-33px, 8px) rotate(12deg);
}
section[data-slice-type="hero_section"] .hero_tech ul li:nth-child(4) {
  transform: translate(-40px, -12px) rotate(-16deg);
}
section[data-slice-type="hero_section"] .hero_tech ul li:nth-child(5) {
  transform: translate(-45px, 0px) rotate(0deg);
}

footer .logo {
  @apply absolute top-7 left-7;
}
@media (width >= 640px) {
  footer .logo {
    position: initial;
  }
}

@media (width >= 500px) {
  section[data-slice-type="hero_section"] .hero_tech ul li:nth-child(1) {
    transform: translate(12px, 0) rotate(-30deg);
  }
  section[data-slice-type="hero_section"] .hero_tech ul li:nth-child(2) {
    transform: translate(0px, -16px) rotate(0deg);
  }
  section[data-slice-type="hero_section"] .hero_tech ul li:nth-child(3) {
    transform: translate(-8px, 8px) rotate(12deg);
  }
  section[data-slice-type="hero_section"] .hero_tech ul li:nth-child(4) {
    transform: translate(-20px, -12px) rotate(-16deg);
  }
  section[data-slice-type="hero_section"] .hero_tech ul li:nth-child(5) {
    transform: translate(-28px, 0px) rotate(0deg);
  }
}
section[data-slice-type="career_section"] .control button,
section[data-slice-type="degree_section"] .control button {
  @apply transform-none;
  position: initial;
}
@media (width <= 400px) {
  section[data-slice-type="career_section"] ul li:last-child {
    @apply hidden;
  }
}

.embla__progress {
  @apply relative bg-black/40 dark:bg-white/40 h-[2px] w-20 overflow-hidden;
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  justify-self: flex-end;
  align-self: center;
  max-width: 90%;
}
.embla__progress__bar {
  @apply absolute top-0 bottom-0 w-full bg-black dark:bg-white;
  left: -100%;
}

circle {
  stroke-width: 2px;
  stroke-opacity: 1;
}

.animate-pulse {
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}

.slide_gradient {
  background: linear-gradient(180deg, #0d1117 0%, #1f2631 100%);
}
.dark .slide_gradient {
  background: var(--background-secondary);
}

/**
  * Tech
  */
.tech {
  background: linear-gradient(135.815deg, #393f46 0%, #202328 50%);
  transition: transform 0.3s ease;
  @apply text-white/75 after:absolute after:top-[3px] after:left-[3px] after:rounded-[5px] after:bg-tech after:z-0 after:w-[70px] after:h-[70px];
}
.is_light .tech {
  @apply text-black after:bg-techlight;
}
.tech:hover {
  transform: translate3d(0, -8px, 0);
  background: white;
}

.tech svg {
  z-index: 2;
}

html:not(.dark) .is_light .tech {
  background: linear-gradient(135.815deg, #f4f8ff 0%, #d8e7ff 50%);
}
html:not(.dark) .is_light .tech:hover {
  background: #161b22;
}

/**
  * FOOTER
  */
footer h2 {
  @apply mb-4 text-xl font-bold;
}
footer .socials svg {
  width: 20px;
  @apply h-auto;
}

.slider_visible > div {
  overflow: visible !important;
}
.transition-scale {
  transition: all 0.4s ease-in-out;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.project p:not(.project_title) {
  @apply text-xs text-black/65 dark:text-white/60;
}
.svg_career_arrow svg {
  @apply transition-all translate-y-1 opacity-0 stroke-white group-hover/slide:opacity-100 group-hover/slide:translate-y-0;
}

.drawer_project ul:has(.tech) {
  @apply flex flex-wrap w-full;
}
@media (width >= 600px) {
  .drawer_project ul:has(.tech) {
    @apply grid w-max;
    grid-template-columns: repeat(3, auto);
  }
}
@media (width >= 900px) {
  .drawer_project ul:has(.tech) {
    grid-template-columns: repeat(4, auto);
  }
}
.drawer_project p {
  @apply opacity-65;
}
.blurry_link {
  background-color: #ffffff3b;
  backdrop-filter: blur(7px);
}
.dark .blurry_link {
  @apply bg-black/30;
}

.centered_line {
  @apply -translate-x-1/2 pointer-events-none left-1/2;
}
.bg_h_line {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.12) 45%,
    rgba(0, 0, 0, 0.12) 55%,
    rgba(0, 0, 0, 0) 100%
  );
}
.bg_v_line {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.12) 35%,
    rgba(0, 0, 0, 0.12) 65%,
    rgba(0, 0, 0, 0) 100%
  );
}
.dark .bg_h_line {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.12) 45%,
    rgba(255, 255, 255, 0.12) 55%,
    rgba(255, 255, 255, 0) 100%
  );
}
.dark .bg_v_line {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.12) 35%,
    rgba(255, 255, 255, 0.12) 65%,
    rgba(255, 255, 255, 0) 100%
  );
}
/*
.bg_h_line,
.bg_v_line {
  @apply hidden;
}
  */
@media (width >= 768px) {
  .bg_h_line,
  .bg_v_line {
    @apply block;
  }
}
/*floating_text*/
section[data-slice-type="floating_text"] p {
  @apply leading-loose;
}

/*PROJECT*/
.staytuneed img,
.cadena img,
.mindcheck img,
.netflix img,
.portfolio img,
.dashboard-crypto img {
  @apply right-[-5rem] bottom-[-9rem] brightness-95;
  z-index: 1;
}

.indys img {
  @apply right-[-3rem] top-[-8rem]  w-[500px];
  z-index: 1;
}
.swalkers img {
  @apply right-[-17rem] bottom-[-18rem] w-[800px] brightness-95;
  z-index: 1;
}
.staytuneed img:nth-child(2),
.netflix img:nth-child(2),
.mindcheck img:nth-child(2),
.portfolio img:nth-child(2),
.cadena img:nth-child(2),
.indys img:nth-child(2),
.swalkers img:nth-child(2) {
  @apply z-0 opacity-0 dark:opacity-20 dark:brightness-100 brightness-90;
}

.staytuneed img:nth-child(2) {
  @apply right-[-2rem] bottom-[-10rem];
}
.netflix img:nth-child(2) {
  @apply right-[-16rem] bottom-[-7rem] w-[800px];
}

.mindcheck img:nth-child(2) {
  @apply right-[-3rem] bottom-[10rem] w-[500px];
}
.portfolio img:nth-child(2) {
  @apply right-[-7rem] bottom-[-8rem] w-[700px];
}
.cadena img:nth-child(2) {
  @apply right-[-7rem] bottom-[-4rem] w-[700px];
}
.indys img:nth-child(2) {
  @apply left-[4rem] top-[1rem] w-[200px];
}
.staytuneed img:nth-child(2) {
  @apply right-[-1rem] bottom-[-10rem];
}
.swalkers img:nth-child(2) {
  @apply right-[-15rem] top-[-1rem] w-[700px];
}
.project img {
  transition: transform 0.3s ease-in-out;
}
.project:hover img:nth-child(1) {
  transform: translate(-14px, -14px);
}
.project:hover .staytuneed img:nth-child(2) {
  transform: translate(-28px, 28px);
}
.project:hover .netflix img:nth-child(2) {
  transform: translate(18px, -12px);
}
.project:hover .mindcheck img:nth-child(2) {
  transform: translate(-28px, 58px);
}
.project:hover .portfolio img:nth-child(2) {
  transform: translate(12px, -60px);
}
.project:hover .cadena img:nth-child(2) {
  transform: translate(12px, 12px);
}
.project:hover .indys img:nth-child(2) {
  transform: translate(12px, 12px);
}
.project:hover .swalkers img:nth-child(2) {
  transform: translate(-40px, 0px);
}

@media (width <= 640px) {
  .staytuneed img,
  .cadena img,
  .mindcheck img,
  .netflix img,
  .portfolio img,
  .dashboard-crypto img {
    @apply w-[450px] h-auto;
  }
  .swalkers img {
    @apply w-[530px] h-auto;
    right: -9rem;
    bottom: -12rem;
  }
  .indys img {
    @apply w-[360px] h-auto;
  }
}

.drawer_image img:nth-child(1) {
  @apply right-[-14rem] bottom-[-9rem];
}
.drawer_image.swalkers img:nth-child(1) {
  @apply right-[-16rem] bottom-[-20rem];
}
.drawer_image.indys img:nth-child(1) {
  @apply right-[-6rem] bottom-[-20rem];
}

@media (width <= 768px) {
  p {
    @apply text-sm;
  }
}
li[data-name="Better-auth"] .special_width {
  @apply w-max !important;
}
